@import '../pages/R2/r2.css';
@import '../pages/R3/r3.css';
@import '../pages/R4/r4.css';
@import '../src/atoms/Button/buttonBack.css';
@import '../src/components/Links/links.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
