.links{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
a{
    margin: 2rem;
    background-color: grey;
    height: 2rem;
    width: 4rem;
    min-width: 3rem;
    border-radius: 1rem;
    padding-top: 4px;
    font-weight: bold;
    transition: all 0, 25s;
    box-shadow: 0 4px 6px rgba(8, 8, 0, 0.253);
    transition: transform 0.6s;
}
a:hover{
    transform: translateY(-5px);
    box-shadow: 0 6px 7px rgba(13, 0, 0, 0.466);
}